/* Set height of body and the document to 100% to enable "full page tabs" */
.externa {
  height: 100%;
}

/* Style tab links */
.tablink {
  background-color: #484543;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  margin-bottom: 10px;
}

.tablink:hover {
  background-color: #777;
}
.card {
  background-color: aqua;
  height: 550px;
  width: 400px;
}

.card-image img {
  max-width: 1px;
  height: 1px;
}
/* Style the tab content (and add height:100% for full page content) */
