@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');




header section {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: #FCAF28;
}

@media (max-width: 100%) {
  header section {
    max-width: 100%;
  }
}



header section a {
  float: right;
  padding: 3px 0;
}

* {
  outline: none;
}

.slider-wrapper .inner button#detail {



  border: none;
  background: #FCAF28;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: bold;
  color: #24388E;
  ;
  font-size: 14px;
  cursor: pointer;

}

.slider-wrapper .inner button#detail:hover {



  border: none;
  background: #24388E;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: bold;
  color: #fff;
  ;
  font-size: 14px;
  cursor: pointer;

}


.wrapper {
  max-width: 1335px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.slide {
  height: 70vh;
  background-size: cover !important;

}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 16px;
}

.previousButton {
  left: 0;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  left: -10px;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  right: -10px;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
} */

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slider-content section span {
  color: #FFFFFF;
}

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.slider-content section span strong {
  color: #FFFFFF;
  font-size: 14px;
  display: block;
}

@media (max-height: 500px) {

  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {

  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

.cont-widget {
  max-width: 330px;
  background-color: #24388E;
  flex: 1 0 21%;
  border-radius: 10px;
  box-shadow: 12px 4px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 20px 0 30px 30px;
  display: flex;
}

.fdf {
  display: flex;
  flex-wrap: wrap;

}

.card-evento a.link .container-img {
  position: relative;
  height: 200px;
  display: block;
  overflow: hidden;
  width: 330px;
  max-width: 100%;
  height: 160px;
  text-align: center;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .2s all linear;
  cursor: pointer;
}

.slick-initialized .slick-slide {
  display: block;
}

/* .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
} */
.card-evento a.link {
  height: 200px;
  width: 100%;
  background: #000;
  cursor: pointer;
  transition: 0.3s all linear;
}

.card-evento a.link .container-img {
  position: relative;
}

.card-evento a.link .container-img {
  display: block;
  overflow: hidden;
  width: 330px;
  max-width: 100%;
  height: 160px;
  text-align: center;
}

.card-evento a.link .container-img:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .2s all linear;
}

.card-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-evento {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  position: relative;
}





.minicard-data-info {
  width: 66px;
  height: 100px;
  margin: 20px 15px 0px 15px;
  display: block;
  position: relative;
  float: left;
}

.data-semana {
  min-width: 66px;
  width: 100%;
  height: 18px;
  font-size: 9px;
  text-align: center;
  vertical-align: middle;
  color: #3c3937;
  text-transform: uppercase;
  display: table-cell;
  font-weight: 600;
}

.data-layer {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #24388E;
  text-transform: uppercase;
  width: 100%;
  display: block;
  margin: 4px 0;
}

.data-mes {
  width: 100%;
  height: 16px;
  padding-bottom: 2px;
  padding-top: 1px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  display: block;
  text-transform: uppercase;
  margin: 4px 0;
  background: #FCAF28;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.info-evento .infoCardDesk .local-nome {
  width: 165px;
  font-size: 13px;
  overflow: hidden;
  color: #9C9C9C;
  height: 36px;
  display: table-cell;
  vertical-align: middle;

}



.card-info .info-evento .evento-nome {
  width: 175px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #3c3937;
  overflow: hidden;
  height: 36px;
  /* display: table-cell; */
  vertical-align: middle;
}

.card-info .evento-cidade {
  width: 100%;
  float: left;
  height: auto;
  font-size: 12.2px;
  font-weight: 300;
  text-align: left;
  display: block;
  color: #24388E;
  padding: 5px 0px;
}

.lozad {
  max-width: 100%;
  height: auto;
}

.infoCardDesk {
  overflow: hidden;
  display: block;
  padding: 5px 15px 5px 0px;
  /* display: inline-block; */
  /* width: 100%; */
  position: relative;
}

.infoCardDesk a:first-child {
  padding-right: 15px;
}

.seeall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0;
}

.seeall .ver-todos {

  display: block;
  text-decoration: none;
  color: #FCAF28;

}

.fdf .cont-widget .card-info .info-evento .buttons button#visualizar {
  border: none;
  background: #FCAF28;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 7px 10px;
  font-weight: bold;
  color: #24388E;
  font-size: 10px;
  cursor: pointer;
  padding-right: 15px;
}

.fdf .cont-widget .card-info .info-evento .buttons button#comprar {
  border: none;
  background: #24388E;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 7px 10px;
  font-weight: bold;
  color: #FCAF28;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.fdf .cont-widget .card-info .info-evento .buttons button#visualizar:hover {
  border: none;
  background: #24388E;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 7px 10px;
  font-weight: bold;
  padding-right: 15px;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.fdf .cont-widget .card-info .info-evento .buttons button#comprar:hover {
  border: none;
  background: #FCAF28;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 7px 10px;
  font-weight: bold;
  color: #24388E;

  font-size: 10px;
  cursor: pointer;
}
