img {
  height: 90px;
}

.show-create-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-create-container form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.show-create-container form input{
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 35px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}
.show-create-container form textarea {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 120px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}
.show-create-container form select {
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 35px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.show-create-container input:focus {
border: 1px solid #FCAF28;
}
.show-create-container textarea:focus {
border: 1px solid #FCAF28;
}
.show-create-container select:focus {
border: 1px solid #FCAF28;
}


.show-create-container form button{
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 35px;
  padding: 0 20px;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  background: #24388E;
  cursor: pointer;

transition-duration: 0.15s;

}
.show-create-container form input::placeholder{
  color: #999;
}
.show-create-container form textarea::placeholder{
  color: #999;

}


.show-create-container form button:hover {
  background-color: #FCAF28; /* Green */
  color: #24388E;
}
